# dependencies
node_modules

# next.js
.next
.env*.local
# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode

#pages
pages/profile-sg.tsx
pages/profile-ssr.tsx

#codegen
codegen.js